<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Zerlin</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    
    <script type="text/javascript" src="./js/Constants.js"></script>
    <script type="text/javascript" src="./js/GameEngine.js"></script>
    <script type="text/javascript" src="./js/Camera.js"></script>
    <script type="text/javascript" src="./js/Level.js"></script>
    <script type="text/javascript" src="./js/SceneManager.js"></script>
    <script type="text/javascript" src="./js/CollisionManager.js"></script>
    <script type="text/javascript" src="./js/HeroEntities.js"></script>
    <script type="text/javascript" src="./js/Lvl1_layers.js"></script>
    <script type="text/javascript" src="./js/Animation.js"></script>

    <script type="text/javascript" src="./js/DroidUtil.js"></script>
    <script type="text/javascript" src="./js/DroidBasic.js"></script>
    <script type="text/javascript" src="./js/DroidSmart.js"></script>
    <script type="text/javascript" src="./js/DroidEntities.js"></script>
    <script type="text/javascript" src="./js/StatusBar.js"></script>
    <script type="text/javascript" src="./js/PowerUp.js"></script>


    <script type="text/javascript" src="./js/howler.js"></script>
    <script type="text/javascript" src="./js/SoundEngine.js"></script>
    <script type="text/javascript" src="./js/Main.js"></script>
</head>
<body>
    <!-- width = height * PHI -->
    <canvas id="gameWorld" tabindex="1" width="1133" height="700" style="border: 1px solid black; background: black"></canvas>
    <div class="container">
        <input type="button" id="playMusic" class="button" value="Play" />
        <input type="button" id="pauseMusic" class="button" value="Pause" />
    </div>
    <span id="playerControls">
        <p>
            <b>Controls: <br></b>
            Jump: W <br>
            Force Jump: E <br>
            Roll: (right roll) hold D + S, (left roll) A + S <br>
            Slash: Spacebar <br>
            Flip Lightsaber: Right Click <br>
            Crouch: X <br>
        </p>
    </span>
</body>
</html>
