/* center the canvas */
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: auto; /* could specify canvas element width here */
    cursor: crosshair;
}

body {
    background-color: rgb(35, 39, 35);
}

/* center the controls */
#playerControls {
    text-align: center;
    color: #fff
}

/* Stylize the buttons */
 .container {
    width:100%;
    height:100%;
    padding-left: 11%;
}
